# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ List popular languages for Data Science
+ List popular Libraries used by Data Science
+ List of well known Data Science Tools
+ How to provide Comment in the Markdown cell
+ Able to perform arithematic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R 
3. Sql
4. c++
5. Java etc..

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib etc..

| Data Science Tools |
| ------------------ |
| Anaconda |
| spider |
| Rstdio |
| Jupyter Notebook |


### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

##  Authour ##
 Mohd khaja moinuddin